.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://images.pexels.com/photos/5846116/pexels-photo-5846116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Adjust the path */
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px;
  border-radius: 2px;
  /* Remove these styles to eliminate the white box */
  background-color:transparent; /* Set to transparent */
  box-shadow:none; /* Remove box shadow */
}

.label {
  color: #100d04; /* Change to your desired label color */
  font-weight: bold; /* Optional: make the label bold */
}




